<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>ProveedoresApp</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlet para insertar proveedores -->
    <servlet>
        <servlet-name>InsertarProveedorServlet</servlet-name>
        <servlet-class>controllers.InsertarProveedorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarProveedorServlet</servlet-name>
        <url-pattern>/InsertarProveedor</url-pattern>
    </servlet-mapping>

    <!-- Servlet para listar proveedores -->
    <servlet>
        <servlet-name>ListarProveedoresServlet</servlet-name>
        <servlet-class>controllers.ListarProveedoresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarProveedoresServlet</servlet-name>
        <url-pattern>/ListarProveedores</url-pattern>
    </servlet-mapping>

</web-app>
